[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
twine = "*"
colorama = "*"
readchar = "*"
joytide = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3"
