[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joytide = { file = ".", editable = true }
colorama = "*"
readchar = "*"

[dev-packages]
build = "*"
black = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
twine = "*"

[requires]
python_version = "3"
